<!DOCTYPE html>
<html>
<head>
    <title>AI Smart Study Planner</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <button onclick="toggleMode()" class="dark-btn">
        🌙 Dark Mode
    </button>

    <h1>📚 AI Smart Study Planner</h1>

    <form method="POST">

        <input type="text"
        name="subject"
        placeholder="Enter Subject"
        required>

        <input type="number"
        name="days"
        placeholder="Days Left"
        required>

        <input type="number"
        name="hours"
        placeholder="Study Hours Per Day"
        required>

        <select name="difficulty">

            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>

        </select>

        <button type="submit">
            Generate Plan
        </button>

    </form>

</div>

<script>

function toggleMode() {
    document.body.classList.toggle("dark");
}

</script>

</body>
</html>